#promedioArrival {
  display: none;
}
#promedioLessArrival {
  display: none;
}
#promedioService {
  display: none;
}
#promedioLessService {
  display: none;
}
/* #lq {
  background-color: red;
}
 */
